<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yulaw.ccbapi.model.dao.HomePageMapper">
  <resultMap id="BaseResultMap" type="com.yulaw.ccbapi.model.pojo.HomePage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
    <result column="activity" jdbcType="VARCHAR" property="activity" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
  </resultMap>
  <sql id="Base_Column_List">
    id, video_url, activity, picture
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from home_page
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectOne" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from home_page
    LIMIT 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from home_page
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="com.yulaw.ccbapi.model.pojo.HomePage">
    update home_page
    <set>
      <if test="videoUrl != null">
        video_url = #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="activity != null">
        activity = #{activity,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        picture = #{picture,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yulaw.ccbapi.model.pojo.HomePage">
    update home_page
    set video_url = #{videoUrl,jdbcType=VARCHAR},
      activity = #{activity,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>