<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yulaw.ccbapi.model.dao.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.yulaw.ccbapi.model.pojo.Teacher">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="teacher_photo" jdbcType="VARCHAR" property="teacherPhoto" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, teacher_name, description, teacher_photo, status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teacher
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findAll" resultType="com.yulaw.ccbapi.model.pojo.Teacher">
    select
    <include refid="Base_Column_List"/>
    from teacher
  </select>
  <select id="selectForHome" resultType="com.yulaw.ccbapi.model.pojo.Teacher">
    select
    <include refid="Base_Column_List"/>
    from teacher
    ORDER by create_time desc
    LIMIT 10
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from teacher
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="com.yulaw.ccbapi.model.pojo.Teacher">
    update teacher
    <set>
      <if test="teacherName != null">
        teacher_name = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="teacherPhoto != null">
        teacher_photo = #{teacherPhoto,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        "status" = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yulaw.ccbapi.model.pojo.Teacher">
    update teacher
    set teacher_name = #{teacherName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      teacher_photo = #{teacherPhoto,jdbcType=VARCHAR},
      "status" = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>