<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yulaw.ccbapi.model.dao.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.yulaw.ccbapi.model.pojo.Teacher">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="teacher_photo" jdbcType="VARCHAR" property="teacherPhoto" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="video" jdbcType="VARCHAR" property="video" />
    <result column="cover" jdbcType="VARCHAR" property="cover" />
  </resultMap>
  <sql id="Base_Column_List">
    id, teacher_name, description, teacher_photo, status, job, weight, create_time, update_time, video, cover
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teacher
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findAll" resultType="com.yulaw.ccbapi.model.pojo.Teacher">
    select
    <include refid="Base_Column_List"/>
    from teacher
  </select>
  <select id="selectForHome" resultType="com.yulaw.ccbapi.model.pojo.Teacher">
    select
    <include refid="Base_Column_List"/>
    from teacher
    where status = 1
    ORDER by weight desc
  </select>
  <select id="selectByNameLike" resultType="com.yulaw.ccbapi.model.pojo.Teacher">
    select
    <include refid="Base_Column_List"/>
    from teacher
    WHERE teacher_name LIKE concat('%',#{name},'%')
  </select>
  <select id="selectByVideoId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
      t.id, t.teacher_name, t.description, t.teacher_photo, t.`status`, t.job, t.weight, t.create_time, t.update_time, t.video, t.cover
    from
      video v, video_teacher_relation vt, teacher t
    WHERE
      v.id = #{id,jdbcType=BIGINT}
      AND v.id = vt.video_id
      AND t.id = vt.teacher_id
  </select>

</mapper>