<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yulaw.ccbapi.model.dao.VideoLogMapper">
  <resultMap id="BaseResultMap" type="com.yulaw.ccbapi.model.pojo.VideoLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="view_count" jdbcType="INTEGER" property="viewCount" />
    <result column="share_count" jdbcType="INTEGER" property="shareCount" />
    <result column="video_name" jdbcType="VARCHAR" property="videoName" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="distribution_id" jdbcType="INTEGER" property="distributionId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, view_count, share_count, video_name, create_time, distribution_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from log_video
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from log_video
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="com.yulaw.ccbapi.model.pojo.VideoLog">
    update log_video
    <set>
      <if test="viewCount != null">
        view_count = #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="shareCount != null">
        share_count = #{shareCount,jdbcType=INTEGER},
      </if>
      <if test="videoName != null">
        video_name = #{videoName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="distributionId != null">
        distribution_id = #{distributionId,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yulaw.ccbapi.model.pojo.VideoLog">
    update log_video
    set view_count = #{viewCount,jdbcType=INTEGER},
      share_count = #{shareCount,jdbcType=INTEGER},
      video_name = #{videoName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertSelective" parameterType="com.yulaw.ccbapi.model.pojo.VideoLog" >
    insert into log_video
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="viewCount != null" >
        view_count,
      </if>
      <if test="shareCount != null" >
        share_count,
      </if>
      <if test="videoName != null" >
        video_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="distributionId != null">
        distribution_id
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="viewCount != null" >
        #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="shareCount != null" >
        #{shareCount,jdbcType=INTEGER},
      </if>
      <if test="videoName != null" >
        #{videoName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="distributionId != null">
        #{distributionId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>