<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yulaw.ccbapi.model.dao.VideoMapper">
  <resultMap id="BaseResultMap" type="com.yulaw.ccbapi.model.pojo.Video">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="video_title" jdbcType="VARCHAR" property="videoTitle" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="views" jdbcType="INTEGER" property="views" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="enjoy_count" jdbcType="INTEGER" property="enjoyCount" />
    <result column="share_count" jdbcType="INTEGER" property="shareCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="channel_id" jdbcType="INTEGER" property="channelId" />
    <result column="text_page" jdbcType="VARCHAR" property="textPage" />
    <result column="is_recommend" jdbcType="TINYINT" property="isRecommend" />
  </resultMap>
  <sql id="Base_Column_List">
    id, video_title, description, views, url, status, enjoy_count, share_count, create_time,
    update_time, channel_id, text_page, is_recommend
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from video
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findAll" resultType="com.yulaw.ccbapi.model.pojo.Video">
    select
    <include refid="Base_Column_List"/>
    from video
  </select>

  <select id="selectNew" resultType="com.yulaw.ccbapi.model.pojo.Video">
    select
    <include refid="Base_Column_List"/>
    from video
    ORDER BY create_time desc
    LIMIT 1
  </select>
  <select id="selectHotByView" resultType="com.yulaw.ccbapi.model.pojo.Video">
    select
    <include refid="Base_Column_List"/>
    from video
    ORDER BY views desc
    LIMIT 3
  </select>
  <select id="selectRecommend" resultType="com.yulaw.ccbapi.model.pojo.Video">
    <if test="flag == 1">
      select
      <include refid="Base_Column_List"/>
      from video
      where is_recommend = 1
    </if>
    <if test="flag == 0">
      select
      <include refid="Base_Column_List"/>
      from video
      where is_recommend = 0
    </if>
  </select>
  <select id="selectByTitle" resultType="com.yulaw.ccbapi.model.pojo.Video">
    select
    <include refid="Base_Column_List"/>
    from video
    WHERE video_title LIKE concat('%',#{title},'%')
  </select>
  <select id="selectByTeacher" resultType="com.yulaw.ccbapi.model.pojo.Video">
    select
        v.id, v.video_title, v.description, v.views, v.url, v.status, v.enjoy_count,
        v.share_count, v.create_time, v.update_time, v.channel_id, v.text_page, v.is_recommend
    from
        video v, video_teacher_relation vt, teacher t
    WHERE
        v.id = vt.video_id
        AND t.id = vt.teacher_id
        AND t.teacher_name LIKE concat('%',#{keywords},'%')

  </select>
  <select id="selectByTeacherId" resultType="com.yulaw.ccbapi.model.pojo.Video">
    select
      v.id, v.video_title, v.description, v.views, v.url, v.status, v.enjoy_count,
           v.share_count, v.create_time, v.update_time, v.channel_id, v.text_page, v.is_recommend
    from
      video v, video_teacher_relation vt, teacher t
    WHERE
      v.id = vt.video_id
      AND t.id = vt.teacher_id
      AND t.id = #{id,jdbcType=BIGINT}

  </select>
  <select id="selectByChannelId" resultType="com.yulaw.ccbapi.model.pojo.Video">
    select
    <include refid="Base_Column_List"/>
    from
    video
    WHERE
    channel_id = #{channelId,jdbcType=BIGINT}
    ORDER by create_time desc

  </select>
  <select id="selectByChannelIdCategoryIdAndName" resultType="com.yulaw.ccbapi.model.pojo.Video">
    <if test="channelId != null">
      select
      <include refid="Base_Column_List"/>
      from
      video
      WHERE
      channel_id = #{channelId,jdbcType=BIGINT}
    </if>
    <if test="categoryId != null">
      select
        v.id, v.video_title, v.description, v.views, v.url, v.status, v.enjoy_count,
        v.share_count, v.create_time, v.update_time,v.channel_id,v.text_page, v.is_recommend
      from
      video v, video_category_relation r, category c
      WHERE
      v.id = r.video_id
      AND c.id = r.category_id
      AND c.id = #{categoryId,jdbcType=BIGINT}
    </if>
    <if test='keywords != null and keywords !="" '>
      select
      <include refid="Base_Column_List"/>
      from video
      where video_title LIKE concat('%',#{keywords},'%')
    </if>

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from video
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="com.yulaw.ccbapi.model.pojo.Video">
    update video
    <set>
      <if test="videoTitle != null">
        video_title = #{videoTitle,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="views != null">
        views = #{views,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="enjoyCount != null">
        enjoy_count = #{enjoyCount,jdbcType=INTEGER},
      </if>
      <if test="shareCount != null">
        share_count = #{shareCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="channelId != null">
        channel_id = #{channelId,jdbcType=BIGINT},
      </if>
      <if test="textPage != null">
        text_page = #{textPage,jdbcType=VARCHAR},
      </if>
      <if test="isRecommend != null">
        is_recommend = #{isRecommend,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yulaw.ccbapi.model.pojo.Video">
    update video
    set video_title = #{videoTitle,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      views = #{views,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      enjoy_count = #{enjoyCount,jdbcType=INTEGER},
      share_count = #{shareCount,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      channel_id = #{channelId,jdbcType=BIGINT},
      text_page = #{textPage,jdbcType=VARCHAR},
      is_recommend = #{isRecommend,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>